/* Trang add-book */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    background-color: #fff;
    padding: 4em;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-group textarea {
    height: 100px;
}

.form-actions {
    display: flex;
    justify-content: center;
}

.add-button, .exit-button {
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    flex: auto;
}
.add-button{
    background-color: #007bff;
}

.add-button:hover {
    background-color: #0056b3;
}

.exit-button {
    background-color: #dc3545; }

.exit-button:hover {
    background-color: #c82333;
}
