/* Trang index */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: #333;
    margin: 0;
}

.add-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.table-container {
    overflow-x: auto;
}

.book-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.book-table th, .book-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.book-table th {
    background-color: #007bff;
    color: white;
}

.table-container {
    margin-top: 20px;
}

.action-button-edit,
.action-button-delete {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

.action-button-edit {
    background-color: #4CAF50;
    margin-right: 5px; /* Thêm khoảng cách giữa nút Sửa và Xóa */
}

.action-button-delete {
    background-color: #f44336;
}

.d-inline {
    display: inline;
}
